/* Section head title egs- values */
.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section__head span {
    background: var(--color-gray-500);
    padding: 0.3rem 0.8rem 0;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
}
.values{
    padding-top: 20vh;
    padding-bottom: 10vh;
}
.values__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values__image {
    filter: saturate(0.25);
    transition: var(--transition);
}

.values__image:hover {
    filter: saturate(1);
    transition: var(--transition);
}

.values__right>p {
    margin: 1.5rem 0 5rem;
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
    /*3.4 for row 2.4 for column*/
}

.card.values__value {
    /*.card from index.css UI component*/
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}

.card.values__value span {
    position: absolute;
    top: -1.5rem;
}
.card {
    background: var(--color-gray-500);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
    color: white;
}

.card:hover {
    background: transparent;
    border-color: var(--color-gray-400);
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background: var(--color-primary);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card:hover span {
    background: var(--color-secondary);
    color: var(--color-gray-500) 
}

.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}